html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #eeeeee;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

div {
    /* DEBUG: border: 1px solid red;*/
    padding-bottom: 5px;
}

#divContainingAll {
    background-color: #D4DCE8 ;
}

#divTopBanner {
    background-color: #BFD0EA;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 102%;
}

#divLogo {
    padding-left: 30px;
}

div.divNavigationTab {
    font-weight: normal;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}

div.divNavigationTab:hover {
    /*font-weight: bold;*/
    text-decoration: underline;
    cursor: pointer;
}

div.selectedDivNavigationTab {
    /* font-weight: bold; */
    text-decoration: underline;
}

#divMain {
    padding-top: 150px;
    z-index: 0;
}

#divShortDescription {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    padding-left: 115px;
}

#divContainerForProjects {
    padding-top: 60px;
    padding-left: 50px;
}

.divContainerForProject {
    width:370px; 
    height:370px; 
    border-radius: 5px;
}

#divProject1 {
    border-radius: 5px;
    width:370px; 
    height:370px; 
    background-image: url('/images/SuperMatchismoSetGame.png');
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 120px;
    z-index: 1;
 }

#divProject1Text {
    border-radius: 5px;
    display: none;
    width:370px;
    height: 370px;
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 150px;
}

#divProject2 {
    border-radius: 5px;
    width:370px; 
    height:370px; 
    background-image: url('/images/HSStatsDeckListImg.png');
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
 }

#divProject2Text {
    border-radius: 5px;
    display: none;
    width:370px;
    height: 370px;
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 30px;
}
#divProject3 {
    border-radius: 5px;
    width:370px; 
    height:370px; 
    background-image: url('/images/StoreWithMeMainPage.png');
    background-size: contain;
    position: absolute;
    top: 65px;
    left: 120px;
    z-index: 1;
 }

#divProject3Text {
    border-radius: 5px;
    display: none;
    width:370px;
    height: 370px;
    font-size: 25px;
    position: absolute;
    top: 165px;
    left: 150px;
}
#divProject4 {
    border-radius: 5px;
    width:370px; 
    height:370px; 
    background-image: url('/images/WinplateformeStats.png');
    background-size: contain;
    position: absolute;
    top: 65px;
    left: 0px;
    z-index: 1;
 }

#divProject4Text {
    border-radius: 5px;
    display: none;
    width:370px;
    height: 370px;
    font-size: 25px;
    position: absolute;
    top: 165px;
    left: 30px;
}

#divFooterInfo {
    background-color: #296DC1;
    margin-top: 80px;
    padding-top: 10px;
    color: #dddddd;
}

#divHomeHidden {
    display: none;
}

#divProjectsHidden {
    display: none;
}

#divDetailedProjectTop {
    background-color: #E5ECFF;  
    /*margin-bottom: 10px;
    padding-top: 5px;*/
    font-size: 16px;
}

#divDetailedProject1 {
    background-color: #E5ECFF;  
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
}

#divImgProject1 {
    border-radius: 265px;
    width:265px; 
    height:265px; 
    background-image: url('/images/SuperMatchismoMatchGame.png');
    background-size: contain;
 }

#divDetailedProject2 {
    background-color: #E5ECFF;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
}

#divImgProject2 {
    border-radius: 265px;
    width:265px; 
    height:265px; 
    background-image: url('/images/HSStatsGameImg.png');
    background-size: contain;
 }

#divDetailedProject3 {
    background-color: #E5ECFF;  
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
}

#divImgProject3 {
    border-radius: 265px;
    width:265px; 
    height:265px; 
    background-image: url('/images/StoreWithMeSubmissionForm.png');
    background-size: contain;
 }
#divDetailedProject4 {
    background-color: #E5ECFF; 
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 16px;
}

#divImgProject4 {
    border-radius: 265px;
    width:265px; 
    height:265px; 
    background-image: url('/images/WinplateformeHashtags.png');
    background-size: contain;
 }

#divInfoHidden {
    display: none;
}

#divProfessionalInfo {
    font-size: 20px;
    padding-left: 30px;
}

#divPersonalInfo {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}


